# dependencies
node_modules/
# builds
dist/
build/
# logs & caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache
# editor
.vscode/
# system
.DS_Store
Thumbs.db
# env
.env

# Windows ADS
*.Zone.Identifier
